body{
    color: white;
    background-color: rgb(26, 28, 32);
}

.planets-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.planet-list-item{
    display: flex;
    border-top: solid gray 2px;
}

.planet-info-item{
    margin: 10px;
}