body{
    color: white;
    background-color: rgb(26, 28, 32);
}

.flexbox{
    display: flex;

}

.arrow-up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

.progress-bar-border{
    height: 15px;
    width: 100%;
    border: solid 2px lightgray;
    border-radius: 10px / 50%;
}

.progress-bar-fill{
    background-color: green;
    height: 100%;
    border-radius: 10px / 50%;
}

.systems-list{
    width: 100%;
    min-width: min-content;
}

.planet-overview{
    width: 100%;
    min-width: min-content;
}

.star-system-info{
    border-top: solid gray 2px;
    margin: 5px;
}

.star-system-info-container{
    display: flex;
}

.star-system-info-paragraph{
    margin: 0 12px;
}

.star-system-bodies-list-button{
    height: 20px;
    align-self: stretch;
    background-color: gray;
    border: none;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.star-system-bodies-list-button:hover{
    background-color: lightgray;
}

.star-list-item{
    display: flex;
    border-top: solid gray 2px;
    margin: 5px 0;
    justify-content: space-evenly;
}

.system-planets-table{
    width: 100%;
}

.planet-info-item{
    border-right: solid gray 2px;
    border-top: solid gray 2px;
}

.planet-table-row:hover > td{
    background-color: rgb(14, 15, 18);
}

.planet-overview-info{
    margin: 0 4px;
}