body{
    color: white;
    background-color: rgb(26, 28, 32);
}

.progress-bar-border{
    height: 15px;
    width: 100%;
    border: solid 2px lightgray;
    border-radius: 10px / 50%;
}

.progress-bar-fill{
    background-color: green;
    height: 100%;
    border-radius: 10px / 50%;
}

.star-system-info{
    display: flex;
    flex-direction: column;
    border-top: solid gray 2px;
    margin: 5px;
}

.star-system-info-container{
    display: flex;
}

.star-system-info-paragraph{
    margin: 0 12px;
}

.star-system-info-system-bodies-dropdown-button{
    height: 20px;
    align-self: stretch;
    background-color: gray;
    border: none;
    margin-top: 5px;
}

.star-system-info-system-bodies-dropdown-button:hover{
    background-color: lightgray;
}

.star-list-item{
    display: flex;
    border-top: solid gray 2px;
    margin: 5px;
    justify-content: space-evenly;
}

.planets-list{
    display: flex;
    flex-direction: column;
    justify-self: stretch;
}

.planet-list-item{
    display: flex;
    border-top: solid gray 2px;
    margin: 5px;
    justify-content: space-evenly;
}

.planet-info-item{
    margin: 10px;
}